-e .
rich
arxiv
loguru
jupyterlab
torch
torchvision
torchaudio
transformers>=4.34.0
xmltodict
rich
arxiv
tokenizers>=0.13.3
ctransformers
scikit-learn
tiktoken
newsapi-python
newspaper3k
gnews
fire
tqdm
numpy
pandas
pre-commit
mypy
loguru
matplotlib
plotly
umap-learn
deep-learning
accelerate
langchain
langchain-community
sentencepiece
sentence_transformers
huggingface_hub
InstructorEmbedding
faiss-cpu
lancedb
tifffile
qdrant-client[fastembed]
polars
tomli
pydantic
dlt[duckdb]>=0.4.11
